extends ../layout

block content
  h1= producto.nombre

  p
    span.detail-label Categoría:
    | #{producto.categoria}
  p
    span.detail-label Precio:
    | $#{producto.precio}
  p
    span.detail-label Stock:
    | #{producto.stock}
  if producto.fechaVencimiento
    p
      span.detail-label Vence:
      | #{producto.fechaVencimiento}
  if producto.descripcion
    p
      span.detail-label Descripción:
      | #{producto.descripcion}
  p
    span.detail-label Creado:
    | #{producto.createdAt}
  p
    span.detail-label Actualizado:
    | #{producto.updatedAt}

  a(href="/productos", style="display:inline-block; margin-top: 20px;") ← Volver al listado
