extends ../layout

block content
  h1 Productos disponibles

  form(method="GET", class="form-box form-flex filtros-productos")
    div.filtro
      label(for="categoria") Categoría:
      select#categoria(name="categoria")
        option(value="") Todas las categorías
        each categoria in categorias
          option(value=categoria selected=(categoria == categoriaSeleccionada))= categoria

    div.filtro
      label(for="nombre") Nombre:
      input#nombre(type="text", name="nombre", placeholder="Buscar por nombre", value=nombreBuscado || "")

    div.filtro.checkbox-wrapper
      label.checkbox-stock(for="ocultarSinStock")
      input#ocultarSinStock(type="checkbox", name="ocultarSinStock", checked=ocultarSinStock ? true : false)
      | Ocultar sin stock

    div.filtro.filtro-boton
      button(type="submit", class="button") Filtrar


  a(href="/productos/crear", class="button-primary") ➕ Nuevo Producto

  if productos.length
    table.listado-items
      thead
        tr
          th Nombre
          th Precio
          th Stock
          th Acciones
          th Agregar al carrito
      tbody
        each producto in productos
          tr
            td= capitalizar(producto.nombre)
            td $#{producto.precio.toFixed(2)}
            td #{producto.stock}
            td.acciones
              a(href=`/productos/${producto._id}`, class="button button-small")
                i.fa-solid.fa-eye
                |  Ver
              a(href=`/productos/${producto._id}/editar`, class="button button-small")
                i.fa-solid.fa-pen
                |  Editar
              form(method="POST", action=`/productos/${producto._id}?_method=DELETE`)
                button(type="submit", class="button delete button-small", onclick="return confirm('¿Estás seguro de que querés eliminar este producto?')")
                  i.fa-solid.fa-trash
                  |  Eliminar
            td.agregar-carrito
              form(method="POST", action="/carrito/agregar")
                input(type="hidden", name="productoId", value=producto._id)
                input(type="hidden", name="cantidad", value=1)
                button(
                  type="submit", 
                  class="button-primary", 
                  disabled=producto.stock === 0 ? true : false,
                  title= producto.stock === 0 ? 'Sin stock disponible' : ''
                )
                  i.fa-solid.fa-cart-plus
                  |  Agregar
  else
    p.sin-resultados No hay productos disponibles.
