extends ../layout

block content
  h1 Productos disponibles

  // Filtrado por categoría
  form(method="GET", class="form-box form-flex")
    select(name="categoria")
      option(value="") Todas las categorías
      each categoria in categorias
        option(value=categoria selected=(categoria == categoriaSeleccionada))= categoria
    button(type="submit") Filtrar

  // Botón para nuevo producto
  a(href="/productos/crear", class="button-primary") ➕ Nuevo Producto

  // Lista de productos
  ul
    each producto in productos
      li
        h3= producto.nombre
        p
          span.detail-label Precio:
          | $#{producto.precio}
        p
          span.detail-label Stock:
          | #{producto.stock}

        // Acciones clásicas
        div.acciones
          a(href=`/productos/${producto._id}`)
            i.fa-solid.fa-eye
            |  Ver
          a(href=`/productos/${producto._id}/editar`)
            i.fa-solid.fa-pen
            |  Editar
          form(method="POST", action=`/productos/${producto._id}?_method=DELETE`)
            button(type="submit", class="delete", onclick="return confirm('¿Estás seguro de que querés eliminar este producto?')")
              i.fa-solid.fa-trash
              |  Eliminar

        // Acción carrito (separada y con margen)
        div.acciones-carrito
          form(method="POST", action="/carrito/agregar")
            input(type="hidden", name="productoId", value=producto._id)
            input(type="hidden", name="cantidad", value=1)
            button(type="submit", class="button-primary")
              i.fa-solid.fa-cart-plus
              |  Agregar al carrito
