doctype html
html(lang="es")

html
  head
    title Huellitas Felices
    link(rel="icon", href="/favicon.ico" type="image/x-icon" alt="Huellitas Felices favicon")
    link(rel="stylesheet", href="/css/style.css")
  body
    nav.nav-links
      a(href="/home") 🏠
      div.main-nav-items
        a(href=productosUrl) Productos
        a(href=pacientesUrl) Pacientes
        a(href=turnosUrl) Turnos
        a(href=busquedasUrl) Búsquedas
        a(href=usuariosUrl) Usuarios
        a(href=documentacionUrl) Documentación

    block content