doctype html
html
  head
    title= producto.nombre
  body
    h1= producto.nombre
    p Descripción: #{producto.descripcion}
    p Categoría: #{producto.categoria}
    p Precio: $#{producto.precio}
    p Stock disponible: #{producto.stock}

    a(href="/productos") ← Volver al listado
