extends ../layout.pug

block content
  h1 Lista de Turnos

  // Formulario de filtros
  form(method="GET", class="form-box filtros")
    .filtro
      select(name="servicio")
        option(value="") Todos los servicios
        each s in servicios
          option(value=s selected=(s === query.servicio))= s

    .filtro
      input(type="date", name="fecha", value=query.fecha || '', lang="es")

    .filtro
      select(name="pacienteId")
        option(value="") Todos los pacientes
        each paciente in pacientes
          option(value=paciente._id selected=(paciente._id == query.pacienteId))= paciente.nombre
    
    .filtro(style="flex-basis: 100%;")
      label.checkbox-stock(for="ocultarPasados")
        input#ocultarSinStock(type="checkbox", name="ocultarPasados", checked=ocultarPasados ? true : false)
        span Ocultar turnos pasados

    .filtro(style="flex-basis: 100%;")
      label.checkbox-stock(for="soloHoy")
        input#soloHoy(type="checkbox", name="soloHoy", checked=query.soloHoy)
        span Mostrar solo turnos de hoy



    .filtro.filtro-boton
      button(type="submit", class="button")
        i.fa.fa-filter
        |  Filtrar

        

  .acciones-final
    a(href="/turnos/crear", class="button-create")
      i.fa.fa-plus
      |  Nuevo Turno

  if turnos.length
    .tabla-listado
      table.listado-items
        thead
          tr
            th Fecha
            th Hora
            th Paciente
            th Servicio
            th Acciones
        tbody
          each turno in turnos
            tr
              td= turno.fecha ? new Date(turno.fecha).toLocaleDateString("es-AR") : '-'
              td= turno.hora
              td= capitalizar(turno.pacienteId && turno.pacienteId.nombre) || "Desconocido"
              td= capitalizar(turno.servicio)
              td.acciones
                .acciones-wrapper
                  a(href=`/turnos/${turno._id}`, class="button button-small", title="Ver")
                    i.fa.fa-eye
                    |
                  a(href=`/turnos/${turno._id}/editar`, class="button button-small", title="Editar")
                    i.fa.fa-pen
                    |
                  form(method="POST", action=`/turnos/${turno._id}?_method=DELETE`)
                    button(
                      type="submit",
                      class="button delete button-small",
                      onclick="return confirm('¿Estás seguro de que querés eliminar este turno?')",
                      title="Eliminar"
                    )
                      i.fa.fa-trash
                      |
  else
    p.sin-resultados No hay turnos registrados.
