extends ../layout.pug

block content
  h1 Lista de Turnos
  // Formulario de filtros
  form(method="GET", class="form-box form-flex", style="margin-bottom: 20px; gap: 10px; flex-wrap: wrap;")
    select(name="servicio")
      option(value="") Todos los servicios
      each s in servicios
        option(value=s selected=(s === query.servicio))= s

    input(type="date", name="fecha", value=query.fecha || '')

    select(name="pacienteId")
      option(value="") Todos los pacientes
      each paciente in pacientes
        option(value=paciente._id selected=(paciente._id == query.pacienteId))= paciente.nombre

    button(type="submit") Filtrar
  a(href="/turnos/crear").button ➕ Nuevo Turno

  if turnos.length
    table(style="margin: 40px auto; width: 100%; max-width: 900px; border-collapse: collapse;")
      thead
        tr
          th Fecha
          th Hora
          th Paciente
          th Servicio
          th(style="text-align: right")
      tbody
        each turno in turnos
          tr(style="text-align: center")
            td= turno.fecha
            td= turno.hora
            td= turno.paciente.nombre || "Desconocido"
            td= turno.servicio
            td
              a.btn.btn-sm.btn-primary(href=`/turnos/${turno._id}`, style="margin-right: 10px;") 👁️ Ver
              a.btn.btn-sm.btn-warning(href=`/turnos/${turno._id}/editar`, style="margin-right: 10px;") ✏️Editar
              form(method="POST", action=`/turnos/${turno._id}?_method=DELETE`, style="display:inline; padding: 0; margin: 0;")
                button(type="submit", onclick="return confirm('¿Estás seguro de que querés eliminar este paciente?')") 🗑️ Eliminar
  else
    p No hay turnos registrados.
